{% extends 'base.html.twig' %}

{% block title %}Accueil - Forge & Dev{% endblock %}

{% block body %}

<div class="text-center">
    <h1>Bienvenue sur le site Forge & Dev</h1>
    <p>Ceci est la page d’accueil.</p>
</div>
{% endblock %}
