{% extends 'base.html.twig' %}

{% block title %}Réalisations - Forge & Dev{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Mes réalisations</h1>
    <p>Liste de toutes mes réalisations</p>
</div>
{% endblock %}
